<div class="louise-container ">
  <h1>Change your pet's details</h1>

  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :species, collection: %w(dog cat bird reptile) %>
    <%= f.input :age %>
    <%= f.input :description %>
    <%= f.input :requirements %>
    <%= f.submit class: "btn-green-bold-lightweight" %>
  <% end %>

  <div class="pet-booking-buttons-container">
    <%= link_to "Cancel", pet_path, class: "btn-pink-light-fontweight" %>
    <%= link_to "Remove this pet from your list",
          pet_path(@pet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-pink-light-fontweight"
          %>
  </div>
</div>
