<div class="louise-container">
  <h1>Add your pet</h1>
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :species, collection: %w(dog cat bird reptile) %>
    <%= f.input :age %>
    <%= f.input :description %>
    <%= f.input :requirements %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

