<div class="super-container">
  <div class="pet-card-container">
    <div class="pet-card-img">
    <%= image_tag "dog.png" %>
    </div>
    <div class="pet-card">
      <h1>Name: <%= @pet.name %></h1>
      <p><strong>Species:</strong> <%= @pet.species %></p>
      <p><strong>Age:</strong> <%= @pet.age %></p>
      <p> <strong>Description:</strong> <%= @pet.description %></p>
      <p> <strong>Requirements:</strong>   <%= @pet.requirements %></p>
      <br>
      <%= link_to "Change your pet's details", edit_pet_path, class: "btn btn-success"%>
      <%= link_to "Remove this pet from your list",
            user_path(current_user),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning"
            %>
    </div>
  </div>

  <div class="pet-img-container">

    <div class="pet-image-top">
      <%= image_tag "dog.png", height: "250px"; %>
    </div>
    <div class="pet-image-bottom">
      <%= image_tag "dog.png", height: "100px"; %>
      <%= image_tag "dog.png", height: "100px"; %>
    </div>
  </div>
</div>
