<h1>My Bookings</h1>

<div>
  <% @bookings.each do |booking| %>
    <%if current_user.sitter == false %>
      <p>Pet Sitter Name: <%= booking.sitter_profile.user.first_name %> <%= booking.sitter_profile.user.last_name %></p>
      <p>Start date:<%= booking.start_date %></p>
      <p>End date: <%= booking.end_date %></p>
      <p>Booking confirmed?
        <% if booking.confirmed? %>
          <%= "â˜‘ï¸" %>
        <% else %>
          <%= "ðŸ”²" %>
      </p>
        <% end %>
      <div>
        <%= link_to "view this booking", booking_path(booking) %>
        <%= link_to "delete this booking", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?" } %>
      </div>
    <% else %>
      <p>Owner Name: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
      <p>Owner Message: <%= booking.owner_message %></p>
      <p>Start date: <%= booking.start_date %></p>
      <p>End date: <%= booking.end_date %></p>
      <p>Response: <%= booking.sitter_message %></p>
      <p>Booking confirmed?
        <% if booking.confirmed? %>
          <%= "â˜‘ï¸" %>
        <% else %>
          <%= "ðŸ”²" %>
        </p>
        <% end %>
      <div>
        <%= link_to "view this booking", booking_path(booking) %>
        <%= link_to "delete this booking", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?" } %>
      </div>
    <% end %>
  <% end %>
</div>
