<div class="louise-container">
  <div class="form-styling-container">
    <h1>Make a booking with <%= @pet_sitter.user.first_name %></h1>

    <%= simple_form_for [@pet_sitter, @booking] do |f| %>
      <%= f.input :owner_message %>
      <div class="date-time-container">
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
      </div>
      <%= f.button :submit %>
      <% end %>

      <%= link_to "Back To All Bookings", bookings_path, class: "btn-pink-light-fontweight" %>
  </div>
</div>

    <div class="new-booking-page-banner-container">
    <div class="new-booking-page-banner"></div>
  </div>
