<div class="louise-container">
  <%= simple_form_for @user do |f| %>
  <%= f.input :photo %>
  <%= f.input :bio %>
  <%= f.submit "Update 'about me'" %>
  <% end %>

  <%= link_to "Back to my profile", user_path, class: "btn btn-primary"%>
</div>

<div class="edit-user-page-banner-container">
  <div class="edit-user-page-banner"></div>
</div>
