<div class="container">

<div class="card-map-container">
  <div>
    <p>
      <%= form_with url: sitter_profiles_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Which animal needs a sitter?" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </p>
  </div>
  <div style="width: 50%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


  <div class="card-profile-container d-flex">
    <% @sitter_profiles.each do |sitter_profile| %>
      <div class="card-profile">
        <div>
          <%= link_to sitter_profile.user.first_name, sitter_profile_path(sitter_profile) %>
          <div class="profile-location"><p><%= sitter_profile.address %></p> <%= image_tag "placeholder.png" %></div>
        </div>
      </div>
    <% end %>
  </div>

  <p>
    <%# <%= link_to "See all Profiles", sitter_profiles_path %>
  </p>
</div>
