<div class="home-page-banner-container">
  <div class="home-page-banner">
  <div> <h2 class="intro-description-h2">Here to help your loved one find their <i>purrfect</i> sitter</h2> </div>
  </div>
</div>

<div class="container">

<%= form_with url: sitter_profiles_path, method: :get, class: "d-flex flex-column" do %>
<div>
  <p>
    <div class="animal-search-card-container d-flex">

    <div> <h2 class="animal-search-card-h2"> Who needs a sitter? </h2> </div>

      <div class="animal-search-card-button-container d-flex">
        <div>
          <%= radio_button_tag 'animal', 'cat', params[:animal] == 'cat', class: 'animal-search-card', :id => 'species-cat' %>
          <label for="species-cat">
            <%= image_tag "cat.png" %>
          </label>
        </div>

        <div>
          <%= radio_button_tag 'animal', 'dog', params[:animal] == 'dog', class: 'animal-search-card', :id => 'species-dog' %>
          <label for="species-dog">
            <%= image_tag "dog.png" %>
          </label>
        </div>

        <div>
          <%= radio_button_tag 'animal', 'reptile', params[:animal] == 'reptile', class: 'animal-search-card', :id => 'species-reptile' %>
          <label for="species-reptile">
            <%= image_tag "lizard.png" %>
          </label>
        </div>

        <div>
          <%= radio_button_tag 'animal', 'bird', params[:animal] == 'bird', class: 'animal-search-card', :id => 'species-bird' %>
          <label for="species-bird">
            <%= image_tag "parrot (2).png" %>
          </label>
        </div>
      </div>
    </div>
    </p>
<% end %>

<div class="location-search-card-container">
    <div
      class="location-search-box"#
      data-controller="address-autocomplete"
      data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-address-autocomplete-placeholder-value="<%= params[:address] %>"
    >
      <%= text_field_tag 'address', nil, class: 'd-none', data: {address_autocomplete_target: "address"} %>
    </div>
    <div class="search-button"><%= submit_tag "Search", class: "btn btn-primary text-white"%> </div>
</div>

<div class="card-location-container">
  <div class="card-map-container">
    <div style="width: 440px; height: 400px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
    <div class="card-profile-container d-flex">
      <% @sitter_profiles.each do |sitter_profile| %>
        <%= link_to sitter_profile_path(sitter_profile) do %>
        <div class="card-profile" >
          <div>
            <%= sitter_profile.user.first_name %>
          <div class="profile-location"><p><%= sitter_profile.address %></p> <%= image_tag "placeholder.png" %></div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
