
<p>
<%= form_with url: sitter_profiles_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Which animal needs a sitter?"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</p>

<ul>
  <% @sitter_profiles.each do |sitter_profile| %>
    <li><%= link_to sitter_profile.user.first_name, sitter_profile_path(sitter_profile) %></li>
  <% end %>
</ul>

<p>
  <%= link_to "See all Profiles", sitter_profiles_path %>
</p>
